In [2]:
import pandas as pd

df = pd.read_parquet("yellow_tripdata_2025-02.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-02-01 00:12:18,2025-02-01 00:32:33,3.0,3.12,1.0,N,246,79,1,19.8,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75
1,2,2025-02-01 00:40:04,2025-02-01 00:49:15,1.0,1.40,1.0,N,114,79,1,10.0,1.00,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75
2,1,2025-02-01 00:06:09,2025-02-01 00:11:51,0.0,0.40,1.0,N,211,144,1,6.5,4.25,0.5,1.00,0.0,1.0,13.25,2.5,0.0,0.75
3,1,2025-02-01 00:15:13,2025-02-01 00:20:19,0.0,0.70,1.0,N,113,249,1,7.2,4.25,0.5,2.00,0.0,1.0,14.95,2.5,0.0,0.75
4,2,2025-02-01 00:02:52,2025-02-01 00:20:25,1.0,4.19,1.0,N,113,263,1,19.8,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75

In [3]:
len(df)

3577543

In [5]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee'],
      dtype='object')

In [6]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
dtype: object

In [4]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
count,3.577543e+06,3577543,3577543,2.770606e+06,3.577543e+06,2.770606e+06,3.577543e+06,3.577543e+06,3.577543e+06,3.577543e+06,3.577543e+06,3.577543e+06,3.577543e+06,3.577543e+06,3.577543e+06,3.577543e+06,2.770606e+06,2.770606e+06,3.577543e+06
mean,1.795510e+00,2025-02-15 03:32:25.140901,2025-02-15 03:47:49.613170,1.276028e+00,6.025357e+00,2.458886e+00,1.632846e+02,1.624813e+02,9.428504e-01,1.674901e+01,1.238108e+00,4.805158e-01,2.730064e+00,4.052944e-01,9.591618e-01,2.503055e+01,2.231689e+00,1.216311e-01,5.373177e-01
min,1.000000e+00,2025-01-31 22:22:53,2025-01-31 22:30:00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.807600e+03,-7.500000e+00,-5.000000e-01,-2.200000e+02,-1.139300e+02,-1.000000e+00,-1.832850e+03,-2.500000e+00,-1.750000e+00,-7.500000e-01
25%,2.000000e+00,2025-02-08 01:18:52,2025-02-08 01:31:19,1.000000e+00,1.000000e+00,1.000000e+00,1.250000e+02,1.130000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.531000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-02-14 21:06:49,2025-02-14 21:23:14,1.000000e+00,1.700000e+00,1.000000e+00,1.610000e+02,1.620000e+02,1.000000e+00,1.280000e+01,0.000000e+00,5.000000e-01,2.110000e+00,0.000000e+00,1.000000e+00,2.019000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-02-21 23:07:40.500000,2025-02-21 23:21:48.500000,1.000000e+00,3.180000e+00,1.000000e+00,2.330000e+02,2.340000e+02,1.000000e+00,1.980000e+01,2.500000e+00,5.000000e-01,3.790000e+00,0.000000e+00,1.000000e+00,2.797000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,7.000000e+00,2025-03-01 00:06:32,2025-03-01 23:13:42,9.000000e+00,2.287825e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,1.325314e+05,2.255000e+01,1.050000e+01,4.400000e+02,1.158700e+02,1.000000e+00,1.325554e+05,2.500000e+00,6.750000e+00,1.250000e+00
std,4.489799e-01,NaN,NaN,7.223483e-01,5.433970e+02,1.156332e+01,6.562958e+01,6.986419e+01,7.249215e-01,7.212927e+01,1.842253e+00,1.299273e-01,3.652688e+00,1.889599e+00,2.643990e-01,7.318542e+01,8.951699e-01,4.691379e-01,3.549505e-01

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3577543 entries, 0 to 3577542
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 504.9+ MB

In [6]:
df["trip_distance"].max()

228782.51

In [7]:
df["trip_distance"].idxmax()

2896786

In [8]:
df.iloc[2896786]

VendorID                                   2
tpep_pickup_datetime     2025-02-06 05:31:00
tpep_dropoff_datetime    2025-02-06 05:49:00
passenger_count                          NaN
trip_distance                      228782.51
RatecodeID                               NaN
store_and_fwd_flag                      None
PULocationID                             262
DOLocationID                              68
payment_type                               0
fare_amount                            20.56
extra                                    0.0
mta_tax                                  0.5
tip_amount                              2.53
tolls_amount                             0.0
improvement_surcharge                    1.0
total_amount                           27.84
congestion_surcharge                     NaN
Airport_fee                              NaN
cbd_congestion_fee                      0.75
Name: 2896786, dtype: object

In [4]:
df["trip_distance"].mean()

6.025356592499375

In [9]:
df["RatecodeID"].mean()

2.45888552901423

In [10]:
df["RatecodeID"].value_counts()

RatecodeID
1.0     2612715
2.0       81895
99.0      39132
5.0       22523
3.0        7951
4.0        6389
6.0           1
Name: count, dtype: int64

In [12]:
df["passenger_count"].mean()

1.2760276993553035

In [13]:
df["fare_amount"].max()

132531.36

In [14]:
df["fare_amount"].mean()

16.749005563315382

In [11]:
df["tip_amount"].mean()

2.7300635687677266

In [15]:
df["total_fees"] = df["Airport_fee"] + df["cbd_congestion_fee"]
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,total_fees
0,2,2025-02-01 00:12:18,2025-02-01 00:32:33,3.0,3.12,1.0,N,246,79,1,...,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75,0.75
1,2,2025-02-01 00:40:04,2025-02-01 00:49:15,1.0,1.40,1.0,N,114,79,1,...,1.00,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75,0.75
2,1,2025-02-01 00:06:09,2025-02-01 00:11:51,0.0,0.40,1.0,N,211,144,1,...,4.25,0.5,1.00,0.0,1.0,13.25,2.5,0.0,0.75,0.75
3,1,2025-02-01 00:15:13,2025-02-01 00:20:19,0.0,0.70,1.0,N,113,249,1,...,4.25,0.5,2.00,0.0,1.0,14.95,2.5,0.0,0.75,0.75
4,2,2025-02-01 00:02:52,2025-02-01 00:20:25,1.0,4.19,1.0,N,113,263,1,...,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75,0.75

In [16]:
df["total_surcharges"] = df["improvement_surcharge"] + df["congestion_surcharge"]
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,total_fees,total_surcharges
0,2,2025-02-01 00:12:18,2025-02-01 00:32:33,3.0,3.12,1.0,N,246,79,1,...,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75,0.75,3.5
1,2,2025-02-01 00:40:04,2025-02-01 00:49:15,1.0,1.40,1.0,N,114,79,1,...,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75,0.75,3.5
2,1,2025-02-01 00:06:09,2025-02-01 00:11:51,0.0,0.40,1.0,N,211,144,1,...,0.5,1.00,0.0,1.0,13.25,2.5,0.0,0.75,0.75,3.5
3,1,2025-02-01 00:15:13,2025-02-01 00:20:19,0.0,0.70,1.0,N,113,249,1,...,0.5,2.00,0.0,1.0,14.95,2.5,0.0,0.75,0.75,3.5
4,2,2025-02-01 00:02:52,2025-02-01 00:20:25,1.0,4.19,1.0,N,113,263,1,...,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75,0.75,3.5

In [ ]:
df["tip_pct_of_fare"] = round(df["tip_amount"] / df["fare_amount"]*100, 2)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,total_fees,total_surcharges,tip_pct_of_fare
0,2,2025-02-01 00:12:18,2025-02-01 00:32:33,3.0,3.12,1.0,N,246,79,1,...,5.11,0.0,1.0,30.66,2.5,0.0,0.75,0.75,3.5,25.81
1,2,2025-02-01 00:40:04,2025-02-01 00:49:15,1.0,1.40,1.0,N,114,79,1,...,3.15,0.0,1.0,18.90,2.5,0.0,0.75,0.75,3.5,31.50
2,1,2025-02-01 00:06:09,2025-02-01 00:11:51,0.0,0.40,1.0,N,211,144,1,...,1.00,0.0,1.0,13.25,2.5,0.0,0.75,0.75,3.5,15.38
3,1,2025-02-01 00:15:13,2025-02-01 00:20:19,0.0,0.70,1.0,N,113,249,1,...,2.00,0.0,1.0,14.95,2.5,0.0,0.75,0.75,3.5,27.78
4,2,2025-02-01 00:02:52,2025-02-01 00:20:25,1.0,4.19,1.0,N,113,263,1,...,5.11,0.0,1.0,30.66,2.5,0.0,0.75,0.75,3.5,25.81

In [ ]:
# weather data?
#https://www.kaggle.com/datasets/alejopaullier/new-york-city-weather-data-2019